PyYAML==3.12
boto3==1.4.2
botocore==1.4.81
cffi==1.9.1
contexter==0.1.3
docutils==0.12
jmespath==0.9.0
plumbum==1.6.3
git+https://github.com/hashbrowncipher/keypipe.git@ea9455c2129b626c9d63d6101bf6ee854207b8a8
pycparser==2.17
python-dateutil==2.6.0
s3transfer==0.1.9
six==1.10.0
cachetools==2.0.0
