PyYAML==3.12
boto3==1.4.2
botocore==1.4.81
cffi==1.9.1
contexter==0.1.3
docutils==0.12
jmespath==0.9.0
keypipe==0.0.1
plumbum==1.6.2
git+https://github.com/tomerfiliba/plumbum.git@bd6299bf9ba9242096c2a2d22fb4633b88f5212c
pycparser==2.17
python-dateutil==2.6.0
s3transfer==0.1.9
six==1.10.0
git+https://github.com/kivy/pyjnius.git@81aabc58e906b12486ededaf728c36826220eecb
Cython==0.25.2
