Source: cassandra-mirror
Maintainer: Josh Snyder <josh.snyder@fitbit.com>
Build-Depends:
  python-virtualenv,
  debhelper,
  dh-virtualenv,
  python3,
  python3-dev,
  git,
  libffi-dev,
  libssl-dev,
  libyaml-dev,
  default-jdk

Package: cassandra-mirror
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: mirrors data from Cassandra into other datastores

